/*
color palette
https://coolors.co/palette/006d77-83c5be-edf6f9-ffddd2-e29578
#006d77 - dark teal
#83c5be - teal
#edf6f9 - gray
#ffddd2 - light peach
#e29578 - peach
*/

/* Global styles
-------------------*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #006d77;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

img {
    width: 300px;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 50px;
    text-shadow: 1px 4px 4px #e7825d;
}

h2 {
    font-size: 35px;
}

h1, h2 {
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
    margin: 0;
}

.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 20px 0;
}

/* Profile
-------------------*/
header {
    background: #006d77;
    color: #edf6f9;
}

/* Projects
-------------------*/
.projects {
    background: #83c5be;
}

.projects a {
    color: #006d77;
}

.projects .btn {
    color: #edf6f9;
    background: #e29578;
    text-decoration: none;
    padding: 6px;
    border-radius: 4px;
    display: inline-block;
}

.projects .btn:hover {
    background: rgba(226, 149, 120, 80%);
}

.project-item {
    overflow: hidden;
}

.project-item img {
    float: left;
    margin-right: 20px;
}

.project-item h3 {
    margin-top: 0;
}

/* Work Experience
-------------------*/
.work-experience {
    background: #ffddd2;
}

/* Education
-------------------*/
.education {
    background: #e29578;
}

/* Contact info
-------------------*/
footer {
    background: #006d77;
    color: #edf6f9;
}

footer a {
    color: #e29578;
}